{% extends "base.html" %}

{% block content %}
{% set events_section = get_section(path="events/_index.md") %}

<section class="block" id="events">
  <div class="wrap">
    <h2>Upcoming Erlang, Elixir, Gleam, etc. events in the San Francisco Bay Area</h2>
    <div>
      Interested in speaking or hosting?
      Have ideas for events or locations?
      Contact us at <a href="mailto:{{ config.extra.organizer_email }}">{{ config.extra.organizer_email }}</a>.
    </div>

    <div>
      Stay up to date by subscribing to our <a href="{{ get_url(path="rss.xml") }}">RSS feed</a>.
    </div>

    <div class="events-list">
      {% for event in events_section.pages | sort(attribute="extra.date") %}
      {{<event_card event={event}/>}}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
